<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Last Chances 19X</title>
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
            <link href="/styles.css" rel="stylesheet" type="text/css">

            <link rel = "shortcut icon" href = "/img/favicon.ico">

            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        

            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $(function () {
                var availableTags = [];
                $.getJSON("/names.json", function(json){
                    for(var i = 0; i < json.length; i ++){
                    if(json[i]["legal_name"]!== null){
                        availableTags.push(json[i]["legal_name"]);
                    }  
                    }
                });
                $("#input-box").autocomplete({
                    source: availableTags,
                    minLength: 2,
                    select: function(event, ui) {
                        $('#submit').prop('disabled', false);
                    },
                    search: function( event, ui ) {
                        $('#submit').prop('disabled', true);
                    }

                });

                $.ui.autocomplete.filter = function (array, term) {
                    var regTab = term.split(" ");
                    var regex = regTab.join('[\\w ]*');
                    var matcher = new RegExp("^" + regex, "i");
                    return $.grep(array, function (value) {
                    return matcher.test(value.label || value.value || value);
                    });
                };
                });
            </script>

    </head>
    <body>
            <h1>LAST CHANCES 19X - <i>SUMMER LOVIN'</i></h1>
            <h3>LOGGED IN AS <%= user %> <a href='/logout'>LOGOUT</a></h3>
            <p>Your picks are kept private unless you are matched. Matches are done by a compter program. Concerns? Questions? <i>Site is down</i>? <b>lastchances19x@gmail.com</b> </p>
            <div class = "rules">
                <h3><b>HOW TO USE:</b></h3>
                <ol>
                    <li>Enter a name in the box</li>
                    <li>Select the correct name from the drop down. <b>If you don't select a name from the dropdown, you won't be able to submit</b></li>
                    <li>Select the reCAPTCHA box. <b>If you don't check the reCAPTCHA box, your crush will not be submitted.</b></li>
                    <li>Hit <b>submit</b>! ONLY ONCE!</li>
                </ol>
                <p><b>Crush entries cannot be deleted. Choose Carefully!</b></p>
            </div>
           
           
            <div class = "block" id = "left">
             <% if (crushes == 1) { %>
                <p> There is 1 person crushing on you!</p>
            <%} else {%>
                    <p> There are <%= crushes %> people crushing on you!</p>
                <% } %> 
                <button class="btn" id = "crush-btn" type="button" onClick= showCrushes()>
                        VIEW YOUR CRUSHES
                </button>
                <button class="btn" id = "match-btn" type="button" onClick= showMatches()>
                    VIEW YOUR MATCHES
                 </button>
                <div id = "crush-list" class = "hide">
                    <% if (crush_list.length > 0) { %>
                        <% for (var i = 0; i < crush_list.length; i++) { %>
                                <p><%= crush_list[i] %></p>
                    <%}} else {%>
                        <p> You haven't crushed on anyone yet!</p>
                    <% } %> 
 
                </div>


                <div id = "match-list" class = "hide">
                        <% if (match_list.length > 0) { %>
                            <% for (var i = 0; i < match_list.length; i++) { %>
                                    <p><%= match_list[i] %></p>
                        <%}} else {%>
                            <p> You haven't matched with anyone yet -- keep crushing on people!</p>
                        <% } %> 
     
                    </div>
                </div>
                <div class = "block" id = "right">
                    <form id="entries-form" method="post" action="/crushes">
                    
                            <div id="entries-container">
                              <div class="row">
                                <p class="col-sm-4 col-sm-offset-4">
                                  <input id="input-box"class="form-control" name="entry" placeholder="Philip J. Hanlon">
                                </p>
                              </div>
                    
                            <div class="row">
                              <div class="col-sm-4 col-sm-offset-4">
                                    <div class="g-recaptcha" data-sitekey="6LeLx64UAAAAAN4u_cKRf2O3SaGBWVYzjKkJYk1z"></div><br>
                                <input id="submit" type="submit" class="btn btn-primary" disabled= true onclick="this.disabled=true;
                                this.value='Sending…';
                                ">
                              </div>
                            </div>
                          </form>


                </div>
                <img src = "/img/finallctrees.png" alt = "wow lone pines love each other"/>

                <script>
                $(document).ready(function() {
                $('#submit').submit(function() {

                    $(this).ajaxSubmit({
                    error: function(xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                    console.log(response);
                    }
                    });
                    //Very important line, it disable the page refresh.

                    return false;
                });
                });
            </script>
        <script>
        function showCrushes() {
            var x = document.getElementById("crush-list");
                x.classList.toggle("show");  
            var y =  document.getElementById("match-list");
               y.classList = "hide";
            
        }
        function showMatches() {
            var x = document.getElementById("match-list");
                x.classList.toggle("show");   
            var y =  document.getElementById("crush-list");
            y.classList = "hide";            
            }
 
            </script>
        </body>

        </html>