<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Last Chances 19X</title>
            <link href="styles.css" rel="stylesheet" type="text/css"></link>
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <script src="../controllers/user_controller.js"></script>
            <!-- I have tried every path on the planet. the script never gets found. idk what to do. rly considering a react frontend. -->
    </head>
    <body>
            <h1>19X - <i>SUMMER LOVIN'</i></h1>
            <h2>LOGGED IN AS USER_HERE <a href=#>LOGOUT</a></h2>
            <p>Your picks are kept private unless you are matched. Matches are done by a compter program. Concerns? Questions? <b>lastchances19x@gmail.com</b></p>
            <h3><b>HOW TO USE:</b></h3>
            <ol>
                <li>Enter names in the boxes, then press <b>submit</b>!</li>
                <li>You will be taken to a page suggesting <b>full names</b> underneath each box based on the original entry.</li>
                <li>For each crush, click the <b>link</b> containing the name as it appears in the <b>DND</b>, then hit <b>submit</b> once more!</li>
              </ol>
            <p><b>Crush entries cannot be deleted. Choose Carefully!</b></p>
            <button class="btn" id = "crush-btn" type="button" action="">
                VIEW YOUR MATCHES
            </button>
            <!-- THIS DOESN"T WORK AHHHHHHHHHHHHHHHHHHH -->
            <button class="btn" id = "crush-btn" type="button" onclick="getCrushNumber('F0031MS')">
                Click to get number of people crushing on you
            </button>
            <h2> crushes</h2>
    </body>
</html>